@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');
@media screen and (min-width: 0px) and (max-width: 669px) {

.imgLogoMobile{
    max-width: 100%;
}

.imgLogo{
    display: none;
}

.divHeader{
    margin-left: 1em;
    display: flex;
    flex-direction: row;
}

header h1{
    display: none;

}
header h2{
    color: #D4A311;
    font-family: 'Metal', cursive;
    text-align: center;
    margin-left: 2em;
    margin-top: 1.5em;
    max-width: 100%;

}

.divFotoIntro{
    margin-top: 2em;
    
}

.imgIntro{
    width: 100%;

}

.divFotoIntro section{
    
}

}

