@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


html,body{
    scroll-behavior: smooth;
}


@media screen and (min-width: 0px) and (max-width: 309px) {

.imgLogoMobile{
    max-width: 100%;
    display: block;
    margin: auto;
}

.imgLogo{
    display: none;
}

.h1HeaderDesktop{
    display: none;

}

.h1Header{
    text-align: center;
    color: #D4A311;
    font-family: 'Metal', cursive;
}

.imgLogo{
    display: none;

}

.imgIntroDesk{
    display: none;
}

.imgIntro{
    width: 100%;
    margin-top: 1em;
  }

  
.conteudo{
    margin-top: 2em;
    text-align: center;
}

.cortinas{
    width: 75%;
    display: block;
    margin: auto;

}

.conteudo p{
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Oswald', sans-serif;
}

.conteudo h1{
    font-family: 'Oswald', sans-serif;
}

.cortinas img{
    max-width: 100%;
    margin-top: 1em;
    border: 0.5em groove black;


}

.papelParede{
    width: 75%;
    display: block;
    margin: auto;
}

.papelParede img{
    max-width: 100%;
    margin-top: 1em;
    border: 0.5em groove black;
    height: 100% ;
}

.persianas{
    width: 75%;
    display: block;
    margin: auto;
}

.persianas img{
    max-width: 100%;
    margin-top: 1em;
    border: 0.5em groove black;
}

.localizacao iframe{
    margin: auto;
    display: block;
    width: 50%;
    height: 30vh;
 }
 
 .localizacao{
     text-align: center;
     font-family: 'Oswald', sans-serif;
 }

footer{
   position: absolute;
   width: 100%;
   left: 0em;
   margin-top: 1em;
   background-color: black;
}

#topo{
    position: fixed;
    background-color: black;
    bottom: 3.5em;
    right: 3em;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.arrow{
    border: solid white;
    border-width: 0 7px 7px 0;
    padding: 5px;
    display: inline-block;
}

.up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
} 

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
 }

 .endereco{
    margin: auto;
    display: block;
   text-align: center;
 }

 .contato{
    margin: auto;
    display: block;
   text-align: center;
 }

 footer a{
    text-decoration: none;
    color:rgb(156, 156, 156) ;
 }

 .cep{
    color:rgb(156, 156, 156);
 }

 footer a:hover{
    text-decoration: none;
    color:rgb(156, 156, 156) ;
 }
 
 .bi-whatsapp{
    background-color: #25D366;
    border-radius: 1em;
    color: white;
 }
 
 .bi-envelope{
    color: white;
 }

 .bi-geo-alt{
    color: white;
 }

 .pEnd{
    padding-left: 1em;
 }

    
}
@media screen and (min-width: 310px) and (max-width: 699px) {

header{

    height: 118px;
}

.imgLogoMobile{
    max-width: 100%;
    float: left;
}

.imgLogo{
    display: none;

}

.imgIntroDesk{
    display: none;
}

.h1Header{
    color: #D4A311;
    font-family: 'Metal', cursive;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgIntro{
  width: 100%;
  margin-top: 1em;
}



.conteudo{
    margin-top: 2em;
    text-align: center;
}

.cortinas{
    width: 75%;
    display: block;
    margin: auto;

}

.conteudo p{
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Oswald', sans-serif;
}

.conteudo h1{
    font-family: 'Oswald', sans-serif;
}

.cortinas img{
    max-width: 100%;
    margin-top: 1em;
    border: 0.5em groove black;


}

.papelParede{
    width: 75%;
    display: block;
    margin: auto;
}

.papelParede img{
    max-width: 100%;
    margin-top: 1em;
    border: 0.5em groove black;
    height: 100% ;
}

.persianas{
    width: 75%;
    display: block;
    margin: auto;
}

.persianas img{
    max-width: 100%;
    margin-top: 1em;
    border: 0.5em groove black;
}

.localizacao iframe{
    margin: auto;
    display: block;
    width: 75%;
    height: 30vh;
 }
 
 .localizacao{
     text-align: center;
     font-family: 'Oswald', sans-serif;
 }

footer{
   position: absolute;
   width: 100%;
   left: 0em;
   margin-top: 1em;
   background-color: black;
}

#topo{
    position: fixed;
    background-color: rgb(151, 151, 151);
    bottom: 3.5em;
    right: 0em;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.arrow{
    border: solid white;
    border-width: 0 7px 7px 0;
    padding: 5px;
    display: inline-block;
}

.up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
 }

 .endereco{
    margin: auto;
    display: block;
    text-align: center;
 }

 .contato{
    margin: auto;
    display: block;
    text-align: center;
 }


 footer a{
    text-decoration: none;
    color:rgb(156, 156, 156);
 }
 

 .cep{
    color:rgb(180, 178, 178);
 }

 footer a:hover{
    text-decoration: none;
    color:rgb(180, 178, 178);
 }
 
 .bi-whatsapp{
    background-color: #25D366;
    border-radius: 1em;
    color: white;
 }
 
 .bi-envelope{
    color: white;
 }

 .bi-geo-alt{
    color: white;
 }

 .pEnd{
    padding-left: 1em;
 }



} 

@media screen and (min-width: 700px) and (max-width: 1041px)  {
       
.imgLogoMobile{
    display: none;
}

.imgIntro{
    display: none;
}

.imgLogo{
    display: block;
    float: left;
    height: 30vh;
}

.h1Header{
    color: #D4A311;
    font-family: 'Metal', cursive;
}


.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5em;
    
}

.imgIntroDesk{
    width: 100%;
    margin-top: 1em;
}

.conteudo{
    margin-top: 2em;
    text-align: center;
}

.cortinas{
    width: 75%;
    display: block;
    margin: auto;

}

.conteudo p{
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Oswald', sans-serif;
}

.conteudo h1{
    font-family: 'Oswald', sans-serif;
}

.cortinas img{
    max-width: 100%;
    margin-top: 1em;
    border: 0.5em groove black;


}

.papelParede{
    width: 75%;
    display: block;
    margin: auto;
}

.papelParede img{
    max-width: 100%;
    margin-top: 1em;
    border: 0.5em groove black;
    height: 100% ;
}

.persianas{
    width: 75%;
    display: block;
    margin: auto;
}

.persianas img{
    max-width: 100%;
    margin-top: 1em;
    border: 0.5em groove black;
}

.localizacao iframe{
    margin: auto;
    display: block;
 }
 
 .localizacao{
     text-align: center;
     font-family: 'Oswald', sans-serif;
 }

footer{
   position: absolute;
   width: 100%;
   left: 0em;
   margin-top: 1em;
   background-color: black;
}

#topo{
    position: fixed;
    background-color: black;
    bottom: 3.5em;
    right: 0em;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.arrow{
    border: solid white;
    border-width: 0 7px 7px 0;
    padding: 5px;
    display: inline-block;
}

.up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
 }

 footer a{
    text-decoration: none;
    color:rgb(108, 108, 245) ;
 }

 .cep{
    color:rgb(108, 108, 245) ;
 }

 footer a:hover{
    text-decoration: none;
    color:white ;
 }
 
 .bi-whatsapp{
    background-color: #25D366;
    border-radius: 1em;
    color: white;
 }
 
 .bi-envelope{
    color: white;
 }

 .bi-geo-alt{
    color: white;
 }

 .pEnd{
    padding-left: 1em;
 }



}

@media screen and (min-width: 1042px)  {

.imgLogoMobile{
    display: none;
}

.imgLogo{
    display: block;
    float: left;
    height: 30vh;
}


.h1Header{
    color: #D4A311;
    font-family: 'Metal', cursive;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3em;

}

.imgIntroDesk{
    width: 100%;
    margin-top: 1em;
}

.imgIntro{
    display: none;
}

.conteudo{
    text-align: center;
}

.conteudo p{
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Oswald', sans-serif;
}

.conteudo h1{
    font-family: 'Oswald', sans-serif; 
}


.cortinas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.cortinas img {
    width: 40%;
    margin-top: 1em;
    margin-left: 1em;
    border: 0.5em groove black;


}

.papelParede{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.papelParede img {
    width: 40%;
    margin-top: 1em;
    margin-left: 1em;
    border: 0.5em groove black;


}


.persianas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.persianas img {
    width: 40%;
    margin-top: 1em;
    margin-left: 1em;
    border: 0.5em groove black;

}

.localizacao iframe{
   margin: auto;
   display: block;
   width: 75%;
}

.localizacao{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

footer{
    position: absolute;
    width: 100%;
    left: 0em;
    margin-top: 1em;
    background-color: black;
 }
 
 #topo{
     position: fixed;
     background-color: black;
     bottom: 3.5em;
     right: 0em;
     border-radius: 50%;
     width: 3em;
     height: 3em;
     color: white;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     z-index: 1;
 
 }
 
 .arrow{
     border: solid white;
     border-width: 0 7px 7px 0;
     padding: 5px;
     display: inline-block;
 }
 
 .up{
     transform: rotate(-135deg);
     -webkit-transform: rotate(-135deg);
 }

 footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
 }

 footer a{
    text-decoration: none;
    color:rgb(108, 108, 245) ;
 }

 .cep{
    color:rgb(108, 108, 245) ;
 }

 footer a:hover{
    text-decoration: none;
    color:white ;
 }
 
 .bi-whatsapp{
    background-color: #25D366;
    border-radius: 1em;
    color: white;
 }
 
 .bi-envelope{
    color: white;
 }

 .bi-geo-alt{
    color: white;
 }

 .pEnd{
    padding-left: 1em;
 }

}


