@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');


@media screen and (min-width: 0px) and (max-width: 309px) {

.imgLogoMobile{
    max-width: 100%;
    display: block;
    margin: auto;
}

.imgLogo{
    display: none;
}

.h1HeaderDesktop{
    display: none;

}

.h1Header{
    text-align: center;
    color: #D4A311;
    font-family: 'Metal', cursive;
}

.imgIntro{
    width: 100%;
    margin-top: 1em;
  }
    
}
@media screen and (min-width: 310px) and (max-width: 699px) {

.imgLogoMobile{
    max-width: 100%;
    float: left;
}

.imgLogo{
    display: none;
}


.h1HeaderDesktop{
    display: none;

}
.h1Header{
    color: #D4A311;
    font-family: 'Metal', cursive;
}

.imgIntro{
  width: 100%;
  margin-top: 1em;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

}

